<% content_for :page_title do %>
  Import Products
<% end %>

<% if @errors %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger alert-auto-disappear">
        <%= @errors.length %> products were unable to save due to the following errors
        <% for error in @errors %>
          <p>
            <strong><%= error[0] %></strong><br>
          </p>
          <ul class="ul-with-markup">
            <% for message in error[1] %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<h5>CSV Format</h5>
<table class="table">
  <thead>
    <tr>
      <% @csv_format.each do |row| %>
      <th><%= row[:name] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @csv_format.each do |row| %>
      <td><%= row[:type] %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<hr>

<%= form_tag admin_create_imported_product_path, :multipart => true do %>
  <fieldset>
    <div data-hook="admin_product_form_fields">

      <div class="row">
        <div class="col-md-6" data-hook="admin_product_form_name">
          <div class="form-group field">
            <%= label_tag 'Upload CSV' %>
            <%= file_field_tag :csv, class: 'form-control title' %>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <%= submit_tag 'Import', :class => 'btn btn-primary btn-success' %>
      </div>

    </div>
  </fieldset>
<% end %>
